.footer {
    padding: 5.9rem; /* Padding */
    text-align: center; /* Centered text */
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:last;
    gap: 2rem; /* Space between items */
  }
  
  .footer a {
    color: #000000; /* Blue-gray color */
    transition: color 0.3s;
  }
  
  .footer a:hover,
  .footer a:focus {
    color: #dfdfdf; /* Blue color on hover and focus */
  }
  .webLink{
    font-family:  sans-serif;
    color: rgb(233, 183, 118);
  }